body {
	margin-top:20px;

}

/*docs menu*/
/*
.docs-menu li > a {
	padding: 5px 15px !important;
	border-radius:0;
}
.docs-menu li.active > a {
	padding-left: 13px !important;
	font-weight: 700;
	color: #000;
	background-color: rgba(0, 0, 0, 0);
	border-left: 2px solid #000;
}
.docs-menu li > a:hover, .docs-menu li.active > a:hover{
	padding-left: 14px !important;
	color: #000;
	background-color: rgba(0, 0, 0, 0);
	border-left: 1px solid #000;
	background: none;
}
*/

.back-to-top {
	padding: 4px 10px;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 500;
	color: #999;
}

.docs-menu .nav>li>a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676
}
.docs-menu .nav>li>a:focus, .docs-menu .nav>li>a:hover {
  padding-left: 19px;
  color: #101010;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #101010;
	border-radius: 0px;
}
.docs-menu .nav>.active:focus>a, .docs-menu .nav>.active:hover>a, .docs-menu .nav>.active>a {
  padding-left: 18px;
  font-weight: 700;
  color: #101010;
  background-color: transparent;
  border-left: 2px solid #101010;
	border-radius: 0px;
}
.docs-menu .nav .nav {
  display: none;
  padding-bottom: 10px
}
.docs-menu .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 400
}
.docs-menu .nav .nav>li>a:focus, .docs-menu .nav .nav>li>a:hover {
  padding-left: 29px
}
.docs-menu .nav .nav>.active:focus>a, .docs-menu .nav .nav>.active:hover>a, .docs-menu .nav .nav>.active>a {
  padding-left: 28px;
  font-weight: 500
}
@media (min-width:992px) {
  .docs-menu .nav>.active>ul {
    display: block
  }
  .docs-menu.affix, .docs-menu.affix-bottom {
    width: 213px
  }
  .docs-menu.affix {
    position: fixed;
    top: 60px
  }
  .docs-menu.affix-bottom {
    position: absolute
  }
  .docs-menu.affix .bs-docs-sidenav, .docs-menu.affix-bottom .bs-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0
  }
}
@media (min-width:1200px) {
  .docs-menu.affix, .docs-menu.affix-bottom {
    width: 263px
  }
}







.bootcards-documentation-list .list-group-item-heading,
.bootcards-documentation-list .list-group-item-text {
	margin: 0;
}


.bs-docs-section {
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

.bs-docs-section:last-child {
	padding-bottom: 0;
	border-bottom: 0;
	margin-bottom: 0;
}

.bs-docs-section > *:first-child {
	margin-top: 0;
}

.bs-docs-section p.lead {
	margin-bottom: 10px;
}

/* Bootstrap Documentation styles */

.bs-example {
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 -15px 15px;
	background-color: #fafafa;
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 1px 0;
	margin-top: 20px;
}

@media (min-width: 768px) {
	.bs-example {
		margin-left: 0;
		margin-right: 0;
		background-color: #fff;
		border-width: 1px;
		border-color: #ddd;
		border-radius: 4px 4px 0 0;
		box-shadow: none;
	}
}

.bs-example:after {
	content: "Example";
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}


.bs-example-type .table td {
padding: 15px 0;
border-color: #eee;
}

.bs-example-type .table tr:first-child td {
	border-top: 0;
}

.bs-example>p:last-child, .bs-example>ul:last-child, .bs-example>ol:last-child, .bs-example>blockquote:last-child, .bs-example>.form-control:last-child, .bs-example>.table:last-child, .bs-example>.navbar:last-child, .bs-example>.jumbotron:last-child, .bs-example>.alert:last-child, .bs-example>.panel:last-child, .bs-example>.list-group:last-child, .bs-example>.well:last-child, .bs-example>.progress:last-child, .bs-example>.table-responsive:last-child>.table {
margin-bottom: 0;
}

.bs-example+.highlight {
margin: -15px -15px 15px;
border-radius: 0;
border-width: 0 0 1px;
}
.highlight {
padding: 9px 14px;
margin-bottom: 14px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
border-radius: 4px;
}

@media (min-width: 768px) {
.bs-example+.highlight {
margin-top: -16px;
margin-left: 0;
margin-right: 0;
border-width: 1px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}
}

.highlight pre {
padding: 0;
margin-top: 0;
margin-bottom: 0;
background-color: transparent;
border: 0;
white-space: nowrap;
}

.bs-docs-section h1, .bs-docs-section h2 {
	padding-top: 50px;
}
